* {
  box-sizing: border-box;
}

.headerTopNavBarShare {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f7f9fbcc;
  padding-right: 32px;
  padding-left: 32px;
  width: 1280px;
  height: 64px;
  backdrop-filter: blur(12px);

  .container3 {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    column-gap: 32px;

    .text {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      width: 219px;
      height: 28px;
      line-height: 28px;
      letter-spacing: -1px;
      color: #1d4ed8;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 20px;
    }

    .input {
      display: flex;
      position: relative;
      flex-shrink: 0;
      align-items: flex-start;
      justify-content: center;
      border-radius: 9999px;
      background: #f2f4f6;
      padding: 7px 16px 6px 40px;
      width: 256px;
      overflow: hidden;

      .container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-start;
        padding-bottom: 2px;
        overflow: hidden;

        .text2 {
          flex-shrink: 0;
          align-self: stretch;
          letter-spacing: 0;
          color: #6b7280;
          font-family: "WenQuanYi Zen Hei", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
        }
      }

      .container2 {
        position: absolute;
        top: 4px;
        left: 12px;
        flex-shrink: 0;
        width: 18px;
        height: 24px;
      }
    }
  }

  .container6 {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    column-gap: 16px;

    .button {
      display: inline-flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      border-radius: 9999px;
      padding: 8px;

      .container4 {
        flex-shrink: 0;
        width: 16px;
        height: 20px;
      }
    }

    .button2 {
      display: inline-flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      border-radius: 9999px;
      padding: 8px;

      .container5 {
        flex-shrink: 0;
        width: 20px;
        height: 20px;
      }
    }

    .margin {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      padding-left: 8px;

      .overlayShadow {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        border-radius: 9999px;
        box-shadow: 0px 0px 0px 2px #0058be1a;
        overflow: hidden;

        .userAvatar {
          flex-shrink: 0;
          width: 32px;
          height: 32px;
          overflow: hidden;
        }
      }
    }
  }
}
