* {
  box-sizing: border-box;
}

.container24 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 48px 48px 378px 304px;
  width: 1280px;
  height: 1088px;
  row-gap: 48px;

  .headerSection {
    display: flex;
    flex-shrink: 0;
    align-items: flex-end;
    align-self: stretch;
    justify-content: space-between;

    .container {
      display: inline-flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      row-gap: 8px;

      .heading2 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;

        .text {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          width: 172px;
          height: 55px;
          line-height: 55px;
          letter-spacing: -1.1px;
          color: #191c1e;
          font-family: "WenQuanYi Zen Hei", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 44px;
          font-weight: 500;
        }
      }

      .text2 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        width: 176px;
        height: 24px;
        line-height: 24px;
        letter-spacing: 0;
        color: #516072;
        font-family: "WenQuanYi Zen Hei", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 500;
      }
    }

    .button {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      column-gap: 8px;
      border: 1px solid #c2c6d61a;
      border-radius: 9999px;
      box-shadow: 0px 1px 2px 0px #0000000d;
      background: #ffffff;
      padding: 11px 23px;

      .container2 {
        flex-shrink: 0;
        width: 20px;
        height: 20px;
      }

      .text3 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 24px;
        line-height: 24px;
        letter-spacing: 0;
        color: #0058be;
        font-family: "WenQuanYi Zen Hei", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }

  .tagsBentoGrid {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;

    .text6 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      width: 90px;
      height: 16px;
      line-height: 16px;
      letter-spacing: 0;
      color: #516072;
      font-family: "WenQuanYi Zen Hei", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 12px;
      font-weight: 500;
    }

    .text5 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      width: 80px;
      height: 28px;
      line-height: 28px;
      letter-spacing: 0;
      color: #191c1e;
      font-family: "WenQuanYi Zen Hei", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 500;
    }

    .heading3 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 30px;
      width: 245px;
    }

    .autoWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;

      .tagCardHighPriority {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        border-radius: 32px;
        background: #ffffff;
        padding: 24px;

        .container3 {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          padding-right: 161px;
          padding-bottom: 5px;

          .background {
            display: inline-flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: flex-start;
            border-radius: 9999px;
            background: #fee2e2;
            padding: 6px 16px;

            .text4 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              width: 53px;
              height: 17px;
              line-height: 17px;
              letter-spacing: 1.1px;
              color: #dc2626;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 11px;
              text-transform: UPPERCASE;
            }
          }
        }

        .container5 {
          display: flex;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;
          margin-top: 8px;
          min-width: 245px;

          .container4 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: flex-start;

            .backgroundBorder {
              flex-shrink: 0;
              border: 2px solid #ffffff;
              border-radius: 9999px;
              background: #3b82f6;
              width: 24px;
              height: 24px;
            }

            .backgroundBorder2 {
              flex-shrink: 0;
              margin-left: -8px;
              border: 2px solid #ffffff;
              border-radius: 9999px;
              background: #10b981;
              width: 24px;
              height: 24px;
            }

            .backgroundBorder3 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              justify-content: center;
              margin-left: -8px;
              border: 2px solid #ffffff;
              border-radius: 9999px;
              background: #e2e8f0;
              width: 24px;
              height: 24px;

              .text7 {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                justify-content: center;
                width: 14px;
                height: 12px;
                line-height: 12px;
                letter-spacing: 0;
                color: #64748b;
                font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 8px;
              }
            }
          }
        }
      }

      .tagCardLearning {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        margin-top: 24px;
        border-radius: 32px;
        background: #ffffff;
        padding: 24px 24px 28px;

        .container6 {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          padding-right: 148px;
          padding-bottom: 5px;

          .background2 {
            display: inline-flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: flex-start;
            border-radius: 9999px;
            background: #ffedd5;
            padding: 6px 16px;

            .text8 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              width: 65px;
              height: 17px;
              line-height: 17px;
              letter-spacing: 1.1px;
              color: #ea580c;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 11px;
              text-transform: UPPERCASE;
            }
          }
        }

        .container7 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-top: 8px;
          width: 245px;

          .text9 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            width: 82px;
            height: 16px;
            line-height: 16px;
            letter-spacing: 0;
            color: #516072;
            font-family: "WenQuanYi Zen Hei", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 500;
          }
        }
      }
    }

    .autoWrapper2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;
      margin-left: 24px;

      .tagCardDeepWork {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        border-radius: 32px;
        background: #ffffff;
        padding: 24px;

        .container8 {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          padding-right: 170px;
          padding-bottom: 5px;

          .background3 {
            display: inline-flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: flex-start;
            border-radius: 9999px;
            background: #dbeafe;
            padding: 6px 16px;

            .text10 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              width: 44px;
              height: 17px;
              line-height: 17px;
              letter-spacing: 1.1px;
              color: #2563eb;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 11px;
              text-transform: UPPERCASE;
            }
          }
        }

        .container10 {
          display: flex;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;
          margin-top: 8px;
          padding-right: 1px;
          min-width: 245px;

          .text11 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            width: 88px;
            height: 16px;
            line-height: 16px;
            letter-spacing: 0;
            color: #516072;
            font-family: "WenQuanYi Zen Hei", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 500;
          }

          .container9 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: flex-start;

            .backgroundBorder4 {
              flex-shrink: 0;
              border: 2px solid #ffffff;
              border-radius: 9999px;
              background: #a855f7;
              width: 24px;
              height: 24px;
            }

            .margin {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              width: 16px;

              .backgroundBorder5 {
                margin-left: -8px;
                border: 2px solid #ffffff;
                border-radius: 9999px;
                background: #60a5fa;
                width: 24px;
                height: 24px;
              }
            }
          }
        }
      }

      .tagCardArchivableUnu {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        margin-top: 24px;
        border: 2px solid #c2c6d633;
        border-radius: 32px;
        background: #f2f4f680;
        padding: 24px;

        .container12 {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          justify-content: space-between;
          padding-right: 1px;
          min-width: 241px;

          .background4 {
            display: inline-flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            border-radius: 9999px;
            background: #e2e8f0;
            padding: 6px 16px;

            .text12 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              width: 53px;
              height: 17px;
              line-height: 17px;
              letter-spacing: 1.1px;
              color: #475569;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 11px;
              text-transform: UPPERCASE;
            }
          }

          .button2 {
            display: inline-flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            padding: 8px;

            .container11 {
              flex-shrink: 0;
              width: 16px;
              height: 18px;
            }
          }
        }

        .heading32 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-top: 30px;
          width: 241px;

          .text13 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            width: 60px;
            height: 28px;
            line-height: 28px;
            letter-spacing: 0;
            color: #94a3b8;
            font-family: "WenQuanYi Zen Hei", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 20px;
            font-weight: 500;
          }
        }

        .container13 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-top: 8px;
          width: 241px;

          .text14 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            width: 132px;
            height: 16px;
            line-height: 16px;
            letter-spacing: 0;
            color: #94a3b8;
            font-family: "WenQuanYi Zen Hei", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 500;
            font-style: italic;
          }
        }
      }
    }

    .autoWrapper3 {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;
      margin-left: 24px;

      .tagCardPersonal {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        border: 2px solid #00000000;
        border-radius: 32px;
        background: #ffffff;
        padding: 24px 24px 28px;

        .container14 {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          padding-right: 141px;
          padding-bottom: 5px;

          .background5 {
            display: inline-flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: flex-start;
            border-radius: 9999px;
            background: #d1fae5;
            padding: 6px 16px;

            .text15 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              width: 68px;
              height: 17px;
              line-height: 17px;
              letter-spacing: 1.1px;
              color: #059669;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 11px;
              text-transform: UPPERCASE;
            }
          }
        }

        .heading33 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-top: 30px;
          width: 241px;
        }

        .container15 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-top: 8px;
          width: 241px;
        }
      }

      .emptyStateAddCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 24px;
        border: 2px solid #c2c6d64d;
        border-radius: 32px;
        background: #f2f4f633;
        padding: 38px 22px;
        width: 293px;

        .margin2 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          margin-right: 99px;
          margin-left: 99px;
          padding-bottom: 16px;

          .background6 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            border-radius: 9999px;
            background: #ffffff;
            width: 48px;
            height: 48px;

            .container16 {
              flex-shrink: 0;
              width: 14px;
              height: 14px;
            }
          }
        }

        .text16 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          width: 77px;
          height: 20px;
          line-height: 20px;
          letter-spacing: 1.4px;
          color: #0058be99;
          font-family: "WenQuanYi Zen Hei", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
          text-transform: UPPERCASE;
        }
      }
    }
  }

  .footerUsageAnalytics {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    border-radius: 48px;
    background: #f2f4f6;
    padding: 32px;

    .container22 {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      column-gap: 48px;

      .container19 {
        display: inline-flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        row-gap: 4px;

        .container17 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          opacity: 0.6;

          .text17 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            width: 48px;
            height: 15px;
            line-height: 15px;
            letter-spacing: 2px;
            color: #516072;
            font-family: "WenQuanYi Zen Hei", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 10px;
            font-weight: 500;
            text-transform: UPPERCASE;
          }
        }

        .container18 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;

          .text18 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            width: 25px;
            height: 32px;
            line-height: 32px;
            letter-spacing: 0;
            color: #191c1e;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
          }
        }
      }

      .container21 {
        display: inline-flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        row-gap: 4px;

        .container20 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          opacity: 0.6;

          .text19 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            width: 60px;
            height: 15px;
            line-height: 15px;
            letter-spacing: 2px;
            color: #516072;
            font-family: "WenQuanYi Zen Hei", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 10px;
            font-weight: 500;
            text-transform: UPPERCASE;
          }
        }

        .text20 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          width: 96px;
          height: 32px;
          line-height: 32px;
          letter-spacing: 0;
          color: #0058be;
          font-family: "WenQuanYi Zen Hei", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
          font-weight: 500;
        }
      }
    }

    .container23 {
      display: inline-flex;
      flex-shrink: 0;
      align-items: flex-start;

      .analyticsTrend {
        flex-shrink: 0;
        opacity: 0.4;
        width: 128px;
        height: 48px;
        overflow: hidden;
      }
    }
  }
}
